
</div>

<div class="container-fluid">
    <footer id="footer">
        <div class="row mt-3 justify-content-center footer">
            <div class="col-8 pt-2">
                <ul>
                    <li>Follow Us: 
                        <a href="http://www.facebook.com" class="ml-3"><i class="fab fa-facebook-square"></i></a>
                        <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
                        <a href="http://www.twitter.com"><i class="fab fa-twitter-square"></i></a></li>
                        <li>contacto@gamezone.com</li>
                        <li>Tel: 1212-3434</li>
                        <li><a href="#">FAQ</a></li>
                        <li><i class="fas fa-copyright"></i>Game Zone.</li>
                    </ul>    
                </div>
            </div>
        </footer>
    </div>
    
    
    
    
</div>



<script src="../Js/jquery.js"></script>
<script src="../Js/bootstrap.bundle.min.js"></script>
</body>
</html>