<!-- contenedor de barra de navegacion -->

<nav class="navbarCol mb-3">
    <div class="container">   
        <div class="row justify-content-center navbarText">
            <div class="col-2 align-self-center"><a href="/products">Games</a></div>
            <div class="col-4 d-md-none"><a href="/"><img src="/images/shortLogo.png" alt="Logo" class="img-fluid no-gutters"></a></div>
            <div class="col-4 col-lg-2 d-none d-md-block"><a href="/"><img src="/images/longLogo.png" alt="Logo" class="img-fluid "></a></div>
            <% if (isLogged) { %>
                    <div class="col align-self-center"><a href="/userProfile/:id">Account</a></div>
                   <div class="col align-self-center"><a href="/logout">Logout</a></div>                    
            <% } else { %>
                <div class="col align-self-center"><a href="/userLogin">Login</a></div>
                <div class="col align-self-center"><a href="/userRegister">Register</a></div>
            <% } %> 
        </div>
    </div>        
</nav>