<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Servilink - Home</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/home.css">
	<script src="/Js/bootstrap.min.js"></script>
	<script src="/Js/jquery.js"></script>
	<style>
		img {
			max-width: 100%;
		}
	</style>
</head>
<body>
	
	<!-- Main Header -->
	<div class="container-sm"> 
		<!-- Top Navigation Bar -->
		<div class="top-navbar">
			<nav class="row">
				<div class="col-sm-3">
					<a>Home</a>				
				</div>
				
				<div class="col-sm-3">
					<a>Servicios</a>				
				</div>
				
				<div class="col-sm-3">
					<a>Login</a>				
				</div>
				
				<div class="col-sm-3">
					<a>Sign In</a>				
				</div>
			</nav>
			
			
		</div>
	</div>
	
	<!-- Mid Section -->
	
	<div class="midSection">
		<div class="container">
			<div class="row">
				<div class="w-100"><br></div>
				<div class="w-100"><br></div>
				
				<div class="col-sm-12">
					Logo
				</div>
				
				<div class="w-100"><br></div>
				
				<div class="col-sm-12">
					Soluciones en un Click!	
				</div>
				
				<div class="Main-image">
					<img src="/images/midbackground.jpg" alt="Main image">
				</div>
				<div class="w-100"><br></div>
				<div class="w-100"><br></div>
				
				<div class="col-sm-12 col-md-8 col-lg-6">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">
								Search:
							</span>
						</div>
						<input type="text" class="form-control" placeholder=". . ." aria-label="Username" aria-describedby="basic-addon1">
					</div>	
				</div>
			</div> 
			
			
			
		</div>
	</div>
	
	
	
	<div class="container">
		<div class="Main-footer">
			<ul>
				<li>Seguinos en nuestras redes: <br> </li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
		</div>
		
	</div>
	
	
</body>
</html>