<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<%- include('partials/header2')%>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6">
            <form action="/user/login" method="POST">

                <!-- Seccion De Usuario/Email de usuario -->
                <div class="form-group">
                    <label for="inputEmail">User email </label>
                    <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="email" placeholder="Enter email">
                    <small id="email" class="form-text text-muted">Not a user yet?, <a href="/user/register">Register Now!</a></small>
                </div>

                <!-- Seccion Password -->
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="*******">
                </div>

                <!-- Recordar Usuario -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="remember_user" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Recordar usuario
                    </label>
                  </div>
                
                <!-- Boton de envio -->
                <button type="submit" class="btn btnColor">Login</button>
            </form>

        </div>
    </div>
</div>



<%- include('partials/footer')%>