<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<%- include('partials/loggedHeader')%>

<div class="container">
	<div class="row justify-content-center mt-3">
		<div class="col-10 col-md-8 col-lg-6">
			
			<h3>New game</h3>

			<form action="/products/newProduct" method="POST">
			 	<!-- Game Name -->
				<div class="form-group">
					<label for="Nombre">Nombre</label>
					<input type="text" class="form-control" placeholder="..." name="Nombre" id="Nombre">
				</div>
				
				<!-- Descripcion del juego -->
				<div class="form-group">
					<label for="Descripcion">Descripcion</label>
					<input type="text" class="form-control" placeholder="..." name="Descripcion" id="Descripcion">
				</div>
				
				<!-- Price -->
				<div class="form-group">
					<label for="Precio">Precio</label>
					<input type="number" class="form-control" placeholder="..." name="Precio" id="Precio">	
				</div>				
				
				<!-- Platform -->
				<div class="form-group">
					<label for="Plataforma">Plataforma</label>
					<input type="text" class="form-control" placeholder="..." name="Plataforma" id="Plataforma">	
				</div>
				
				<!-- Image ADD -->
				<div class="form-group">
					<label for="gameImg">gameImg</label>
					<input type="text" class="form-control" placeholder="..." name="gameImg" id="gameImg">	
				</div>
				
				<!-- Game Category -->
				<div class="form-group">
					<label for="Categoria">Categoria</label>
					<input type="text" class="form-control" placeholder="..." name="Categoria" id="Categoria">
				</div>
				
				<button type="submit">Guardar</button>
			</form>
			
		</div>
	</div>
</div>

<%- include('partials/footer')%>
