<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<%- include('partials/header')%>

<div class="container">
	<div class="row justify-content-center mt-3">
		<div class="col-10 col-md-8 col-lg-6">
			
			<h3>New game</h3>
			
			<form action="/products/newProduct" method="POST">
				<!-- Game Name -->
				<div class="form-group">
					<label for="Nombre">Nombre</label>
					<input type="text" class="form-control" placeholder="..." name="Nombre" id="Nombre">
				</div>
				
				<!-- Descripcion del juego -->
				<div class="form-group">
					<label for="Descripcion">Descripcion</label>
					<input type="text" class="form-control" placeholder="..." name="Descripcion" id="Descripcion">
				</div>
				
				<!-- Price -->
				<div class="form-group">
					<label for="Precio">Precio</label>
					<input type="number" class="form-control" placeholder="..." name="Precio" id="Precio">	
				</div>				
				
				<!-- Platform -->
				<label for="platform">Platform</label>
				<div class="form-check" >
					<input type="checkbox" class="form-check-input" name="platform" id="platform" value="PC">
					<label class="form-check-label" for="platform">PC</label>
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" name="platform" id="platform" value="XBOX">
					<label class="form-check-label" for="platform">XBOX</label>
				</div>
				<div class="form-check">
					<input type="checkbox" class="form-check-input" name="platform" id="platform" value="PS4">
					<label class="form-check-label" for="platform">PS4</label>
				</div>
				
				
				<!-- Image ADD -->
				<!-- <div class="form-group">
					<label for="gameImg">gameImg</label>
					<input type="text" class="form-control" placeholder="..." name="gameImg" id="gameImg">	
				</div> -->
				
				<div class="form-group">
					<label for="gameImg">Game Image</label>
					<input type="file" id="gameImg" name="gameImg">
				</div>
				
				
				<!-- Game Category -->
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="gameCategory">Category</label>
					</div>
					<select class="custom-select" id="gameCategory">
						<option selected>...</option>
						<option value="Action">Action</option>
						<option value="Strategy">Strategy</option>
						<option value="FPS">FPS</option>
						<option value="MOBA">MOBA</option>
						<option value="RPG">RPG</option>
					</select>
				</div>
				
				<button type="submit">Guardar</button>
			</form>
			
		</div>
	</div>
</div>

<%- include('partials/footer')%>
