<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<%- include('partials/header')%>

<div class="container">
    <div class="row justify-content-center">
        
        <!-- Left Navigation menu -->
        <div class="col-md-3 d-none d-md-block">
            <input type="search">
            <hr>
            <hr>
            
            <!-- Listado de categorias -->
            <h4>Filter by:</h4>
            
            <h3>Categorias</h3>
            <ul>
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="Action">
                        <label class="form-check-label" for="Action">Action</label>
                    </div>
                </li>
                
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="Sports">
                        <label class="form-check-label" for="Sports">Sports</label>
                    </div>
                </li>
                
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="Roleplay">
                        <label class="form-check-label" for="Roleplay">Roleplay</label>
                    </div>
                </li>
                
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="FPS">
                        <label class="form-check-label" for="FPS">FPS</label>
                    </div>
                </li>
                
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="Strategy">
                        <label class="form-check-label" for="Strategy">Strategy</label>
                    </div>
                </li>
            </ul>
            
            <!-- Listado de Plataformas -->
            <h3>Plataforma:</h3>
            <ul>
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">PS4</label>
                    </div>
                </li>
                
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">XBOX</label>
                    </div>
                </li>
                
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">PC</label>
                    </div>
                </li>
            </ul>
            
        </div>
        
        <!-- Listado de Juegos -->
        <div class="col-8">
            <div class="row gameCubes">
                
                <div class="col-5 col-md-3 cubes">
                    <img class="img-fluid" src="/images/gamesImages/madden.jpg" alt="GameImg">
                    <h6>game1</h6>
                    <p>Game Description</p>
                </div>
                
                <div class="col-5 col-md-3 cubes">
                    <div class="row">
                        <div class="col">
                            
                        </div>
                    </div>
                    <a href="#"><h5>game2</h5></a>
                </div>
                
                <div class="col-5 col-md-3 cubes">
                    <div class="row">
                        <div class="col">
                            
                        </div>
                    </div>
                    <a href="#"><h5>game3</h5></a>
                </div>
                
                <div class="col-5 col-md-3 cubes">
                    <div class="row">
                        <div class="col">
                            
                        </div>
                    </div>
                    <a href="#"><h5>game4</h5></a>
                </div>
                
                <div class="col-5 col-md-3 cubes">
                    <div class="row">
                        <div class="col">
                            
                        </div>
                    </div>
                    <a href="#"><h5>game5</h5></a>
                </div>
                
                <div class="col-5 col-md-3 cubes">
                    <div class="row">
                        <div class="col">
                            
                        </div>
                    </div>
                    <a href="#"><h5>game5</h5></a>
                </div>
            </div>    
            
        </div>
        
        
    </div>
</div>

<%- include('partials/footer')%>