<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<%- include('partials/header')%>

                        <!-- Imagen principal de Product Detail -->

<div class="container mt-3">
    <div class="row mainImg">
        <div class="col">
            <img class="img-fluid" src="images/carousel/fifa20.jpg" alt="Product image">            
        </div>
    </div>

                        <!-- Menu de imagenes del juego -->

    <div class="row imgSlide">

        <div class="col-4 col-md-3 col-lg-2">
            <img class="img-fluid" src="images/carousel/Battlefield.jpg" alt="Product img">
        </div>

        <div class="col-4 col-md-3 col-lg-2">
            <img class="img-fluid" src="images/carousel/CyberPunk.jpg" alt="Product Img">
        </div>

        <div class="col-4 col-md-3 col-lg-2">
            <img class="img-fluid" src="images/carousel/LeagueOfLegends.jpg" alt="Product Img">
        </div>

        <div class="col-4 col-md-3 col-lg-2">
            <img class="img-fluid" src="images/carousel/starfox.jpg" alt="Product Img">
        </div>

        <div class="col-4 col-md-3 col-lg-2">
            <img class="img-fluid" src="images/carousel/theWitcher.jpg" alt="Product Img">
        </div>

        <div class="col-4 col-md-3 col-lg-2">
            <img class="img-fluid" src="images/carousel/starwars-battlefront2.jpg" alt="Product Img">
        </div>

    </div>

                            <!-- Descripcion Del Juego -->

    <div class="row">
        <div class="col">
            <h3>TITULO DE JUEGO</h3>
            <p>Descripcion Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates consequatur vitae ad distinctio assumenda odit odio doloremque repellendus impedit tenetur.</p>
        </div>
    </div>
</div>



<%- include('partials/footer')%>