<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')%>
<%- include('partials/header')%>

<div class="container">
    <div class="row mt-3">
        
        <form action= "/userRegister" method="POST" enctype="multipart/form-data">
            <!-- Seccion Nombre de Usuario -->
            <div class="col">
                <div class="form-group">
                    <label for="userName">Username</label>
                    <input type="text" name="userName" class="form-control" id="userName" aria-describedby="emailHelp">
                </div>
            </div>
            
            <!-- Seccion de Email -->
            <div class="col">
                <div class="form-group">
                    <label for="emailAddres">Email address</label>
                    <input type="email" name="email" class="form-control" id="emailAddres" aria-describedby="email">
                    <small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
            </div>
            
            
            <!-- Seccion Password -->
            <div class="col">
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" name="password" class="form-control" id="Password">
                </div> 
            </div>
            
            
            <!-- confirmacion de Password -->
            <div class="col">
                <div class="form-group">
                    <label for="rePassword">Confirm Password</label>
                    <input type="password" name="rePassword" class="form-control" id="rePassword">
                </div>
            </div>

            <!-- Seleccion de Avatar -->
            <div class="col">
                <div class="form-group">
                    <label>Avatar:</label>
                    <input type="file" name="avatar">
                </div>
			</div>
            
            
            <!-- Seleccion de pais -->
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="seleccionDePais">Pais</label>
                    </div>
                    <select class="custom-select" id="seleccionDePais">
                        <option selected>Choose Country</option>
                        <option value="1">Argentina</option>
                        <option value="2">Colombia</option>
                        <option value="3">Venezuela</option>
                        <option value="4">Uruguay</option>
                    </select>
                </div> 
            </div>
            
            <!-- Boton de confirmacion y Registro -->
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
                
                
            </div>
        </form>
        
    </div>
</div>



<%- include('partials/footer')%>
