<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<%- include('partials/header')%>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6">
            <form action="/userLogin" method="POST">

                <!-- Seccion De Usuario/Email de usuario -->
                <div class="form-group">
                    <label for="inputEmail">User email </label>
                    <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="email" placeholder="Enter email">
                    <small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>

                <!-- Seccion Password -->
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="*******">
                </div>
                
                <!-- Boton de envio -->
                <button type="submit" class="btn btn-primary">Login</button>
            </form>

        </div>
    </div>
</div>



<%- include('partials/footer')%>