<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registro De Producto</title>
	<link rel="stylesheet" href="/css/userRegister.css">
</head>
<body>
    <div class="container">
		<header class="cabeceraDePagina">
			<div class="logo">
				<img src="/images/logo.jpg" alt=""></div>
			<div class="nav-bar-right">
			<nav>
				<ul>
					<li>Home</li>
					<li>¿Como Funciona?</li>
					<li>Categorias</li>
					<li>Sign In</li>
					<li>Login</li>
				</ul>
			</nav>
			</div>
		</header>
		
		
		
		
	</div>
    
</body>
</html>