

.detailBackground {
    background-color: rgb(12, 12, 12);
    border-radius: 5px;
    padding-left: 0px;
}

.btnColor {
    border-radius: 10px;
    transition: 0.2s;    
    color: rgb(12, 12, 12));
    border: solid 1px lightgray;
    background-color: lightgray;
}

.btnColor2 {
    
    transition: 0.2s;    
    color: lightgray;
    border: solid 1px rgb(12, 12, 12);
    background-color: rgb(12, 12, 12);
}

.btnColor:hover {
    border-radius: 3px;
    color: rgb(253, 198, 16);
    border: solid 1px rgb(253, 198, 16);
    background-color: rgb(12, 12, 12);
}

.gameDescription{
    font-size: 15px;
}