@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');


/* Paleta de Colores de pagina */

.colors {
    background-color: rgb(253, 198, 16);
    color: lightgray;
    background-color: rgb(12, 12, 12)
}

* {
   box-sizing: border-box;
}

.navbarCol {
    background-color: rgb(12, 12, 12);
}

.navbarText {
    text-align: center;
}



body {
    background-image: url(/images/binding_dark.png);
    color: lightgray;
    font-family: 'Rajdhani', sans-serif;
}

a {
    color: lightgrey;
}

h3 {
    font-size: 17px;
    text-transform: uppercase;
    color: whitesmoke;
    letter-spacing: 3px;
    font-weight: bold;
}

h4 {
    font-size: 13px;
    text-transform: uppercase;
    color: whitesmoke;
    letter-spacing: 3px;
    font-weight: bold;
}

.mainImg {
    justify-content: center;
    margin-bottom: 20px;
}

.imgSlide {
    justify-content: center;
    margin-bottom: 20px;
}

/* Seccion Recomendados */

.news-section{
    margin: 0px 0px 10px 10px;
    background-color: rgb(12, 12, 12);
    text-align: center;
}

.genreText {
    text-align: center;
}

.ddBackground {
    background-color: rgba(0, 0, 0, .80);
    color: lightgray
}

.ddBackground:hover {
    background-color: rgba(0, 0, 0, .80);
    color: rgb(253, 198, 16);  
}

