@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap rel=stylesheet");

/* Paleta de Colores de pagina
#2039CC
#192DA1
#111E6C
#0C154A
#080E33
*/

* {
   box-sizing: border-box;
}

body {
    background-image: url(/images/blackmamba.png);
    color: lightgray;
    font-family: 'PT Sans', sans-serif;
}
/* barra superior de navegacion*/

.container-fluid .row {
    background-color: rgba(7, 9, 31, 0.719);
}

.main-header {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* boton desplegable de navegacion */
.right-navbar {
    background-color: transparent;
    font-size: 19px;
    text-align: center;
    color: lightgray
}

ul li {
    list-style: none;
}
a {
    color: lightgray;
}

a:hover {
    color: lightskyblue;
}
.menu-clasico {
    
}

ul .nav {
    text-align: center;
}
/* css para menu de navegacion desplegable en VP Xsmall hasta Small */

.colapse-nav {
    display: flex;
   flex-direction: row-reverse; 
}

.card-body {
    display: flex;
    flex-direction: row-reverse;

}

/* css para menu de navegacion clasico en VP Medium en adelante */
.nav-link {
    padding: 5px 10px;
}

.nav {
    padding-left: 46px;
}

.news-section .col-12 {
    display: flex;
    flex-direction: column;
    background-color: rgba(7, 9, 31, 0.719);
    margin: 2px;
    padding: 6px;
    text-align: center;
}

/* Carrousel images */

.car-box img {
    border-radius: 10px;
}

/* Carrousel-Text section */

.Car-fondo {
    display: block;
    text-align: center;
    background-color: rgba(36, 37, 48, 0.39);
    border-radius: 10px;
    padding: 5px;
}

/* Product Detail CSS */

.mainImg {
    background-color: antiquewhite;
    margin-bottom: 20px;
}

.imgSlide {
    background-color: aquamarine;
    margin-bottom: 20px;
}

/* Noticias Section */



@media (min-width: 1024px){
    .nav {
        padding-left: 35%;
    }
}
@media (min-width: 1440px) {
    .nav {
        padding-left: 45%;
    }
    .nav-link {
        padding-left: 19px;
    }
    /* img {
        image-resolution: 30%;
    } */
}