


.filterRow {
    justify-content: center;
}

.textPadd {
    padding-left: 5px;
}
.cubes {
    color: rgb(56, 56, 56);
    background-color: lightgray;
    justify-self: center;    
}

.cubeText {
    color: #080E33;
    background-color: lightgray;
    padding-top: 15px;
    line-height: 20px;
    font-size: 20px;
}

.gamesRow {
    display: flex;
    justify-content: center;

}