
.cubes {
    color: lightgrey;
    background-color: rgb(12, 12, 12); 
    padding: 0px;
    margin: 15px;
    imgsi
    
}

.cubeText {
    margin: 10px 5px 10px 10px;
    line-height: 15px;
    font-size: 18px;
}

a h5 {
    letter-spacing: 1px;
}

.cubeText span {
    font-size: 15px;
}

ul {
    list-style: none;
}