.profileText {

    margin-top: 15px;
    font-size: 20px;
}

.admin {
   color:rgb(253, 198, 16);
   text-decoration: underline;
}

.fondo {
    background-color: rgba( 0, 0, 0, .50);
}

.profileImg {
    display: block;
    margin: auto;
}

@media(max-width: 767px) {
    .profileImg {
        border-radius: 50%;
    }

}