/ *fonts*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet");
* {
  box-sizing: border-box;
}
body{
  font-family: 'PT Sans', sans-serif;
  background-color: white;
  margin:0;
}
ol, ul {
  margin:0;
  padding:0;
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: black;
}
p {
  padding:0;
}
/* header */
.main-header{
  background-color: #0D77FF;
  padding:15px 0;
}


/*Para hacer un debug*/
[class*=col-]{
  border: solid 1px brown;
}
.lista {
  text-align: center;
  color: white;
  display: block;
}
.logo {
  text-align: center;
  color: white;
  display: block;
  margin:0;
}
.menu {
  display:none;
}
.foto-container{
  position: relative;
  
}
.foto-principal {
  position: relative;
  display: block;
  width: 100%;
 
}
.eslogan{
  position:absolute;
  top: 45%;
  margin:0;
  width:100%;
  text-align: center;
  color: white;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 5px 5px;
  
}
.busqueda{
  position:absolute;
  top: 60%;
  margin:0;
  width:100%;
  text-align: center;
}
.descripcion {
  display: block;
  width:100%;
  text-align: center; 
}
.container-fluid {
  padding:0;
}
p {
  font-size: 15px;
  padding: 0 10px;
  margin:0;
  color:black;
}
h3 {
 color: rgb(12, 167, 232);
 padding: 0 10px;
}
.redes { 
  display: block;
  background-color: #0D77FF;
  padding:5px 5px;
  margin-top:10px;
  width: 100%;
  font-size: 18px;
  text-align: center;
}
.categorias {
  display: block;
  text-align: center;
  margin: 10px;
  justify-content: space-around;
  align-items: center;
}
.categorias p{
  padding: 10px;
}
.nombre-servicio {
  padding: 5px;
}
.redes p{
  display: inline-block;
  color: white;
}
.main-footer {
  display:block;
  width: 100%;
 
}
 
@media (min-width: 768px){
  .coutas{
    text-align: right;
  }
  .lista {
    display: none;
  }
  .menu {
    display: block;
    
    }
  .menu li {
    float: left;
    font-size: 12px;
  }
  .menu a {
    display: inline-block;
    margin: 10px;
    
}
@media (min-width: 1024px){
  
}