
.ddBtn {
    color: lightgray;
    background-color: rgb(12, 12, 12);
    list-style: none;
}

.ddBtn:hover {
    color: rgb(253, 198, 16);
    text-decoration: lightsteelblue;
    transition: 0.3s; 
}

a:hover {
    color: rgb(253, 198, 16);
    text-decoration: lightsteelblue;
    transition: 0.3s;
}

/* css para menu de navegacion desplegable en VP Xsmall hasta Small */
.colapse-nav {
    display: flex;
   flex-direction: row-reverse; 
}

.card-body {
    display: flex;
    flex-direction: row-reverse;

}

/* css para menu de navegacion clasico en VP Medium en adelante */

@media (min-width: 768px){
    .TOPNAVBAR {
       
    }

}
/*estilo header - fin*/
