@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #FFDA82;
    font-family: "Roboto", "Noto Sans", sans-serif;
    color: #FFFAEE;
}

.container {
    width: 1140px;
    background-color: #375DB3;
    margin: auto;
    border-radius: 1rem;
}
.cabeceraDePagina {
    overflow: hidden;
    padding: 10px;
}

div img {
    width: auto;
    height: 100px;
    float: left;
    margin: 5px;
}

.right-navbar {
    float: right;
    border: solid 5px rgba(136, 152, 243, 0.39);
    margin: 25px;

}
li a {
    text-decoration: none;
    display: inline-block;

}

ul li a {
    color: white
}

ul {
    margin: auto;
}

li {
    float: right;
    margin: 15px;
    list-style: none;
}